@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
  @apply h-72 w-80 lg:ml-5 lg:mr-5 bg-gray-200 shadow-lg rounded-lg overflow-hidden hover:shadow-2xl;
}
.form{
  margin-left: 30%;
  width: 40%;
  
}
.add-butt{
  background-color: rgb(23, 110, 23);
}
.text-col{
  color :rgb(23, 110, 23);
}
.head-text{
  color:rgb(44, 135, 44);
}